<div <%= student_attributes(batch, student) %> class="flipping-card per-row-<%= per_row %>">
  <div class="flipping-card-front">
    <%= image_tag "batches/batch-#{batch}/#{student.picture}", class: "img-responsive" %>
  </div>
  <div class="flipping-card-back">
    <div>
      <h2><%= student.name %></h2>

      <% unless student.fake %>
        <div class='flipping-card-items'>
          <% link_to student.url, class: 'flipping-card-item', target: '_blank' do %>
            <i class='mdi mdi-link-variant'></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
