<div class="col-xs-4 col-sm-3 col-md-2">
  <div <%= student_attributes(students) %> class="flipping-card">
    <div class="flipping-card-front">
      <%= image_tag "batches/batch-20/#{students[1].picture}", class: "img-responsive" %>
    </div>
    <div class="flipping-card-back">
      <div>
        <h2><%= students[1].name %></h2>
        <% unless students[1].fake %>
          <div class='flipping-card-items'>
            <% link_to students[1].url, class: 'flipping-card-item', target: '_blank' do %>
              <i class='mdi mdi-link-variant'></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
