<div class="container students">
  <% students_for_batch(batch).each do |student| %>
    <%= partial "batches/student_card_#{batch}", locals: { batch: batch, student: student, per_row: per_row } %>
  <% end %>
</div>
