<div class='modal-student-container'>
  <div class='modal-student-cross'><i class='mdi mdi-close'></i></div>
  <div>
    <div class='modal-student-arrows'>
      <a class='modal-student-arrow is-prev' data-toggle="tooltip" data-container='body' data-trigger='hover' data-placement="right">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-left mdi'></i>
      </a>
      <a class='modal-student-arrow is-next' data-toggle="tooltip" data-container='body' data-trigger='hover' data-placement="right">
        <span class='modal-student-arrow-img'></span>
        <i class='mdi-chevron-right mdi'></i>
      </a>
    </div>
  </div>
  <a class='modal-student-avatar' target='_blank' data-toggle="tooltip" data-container='body' data-trigger='hover' data-placement="right">

  </a>
  <a class='modal-student-url' target='_blank' data-toggle="tooltip" data-container='body' data-trigger='hover' data-placement="right" title='Open in a new tab'>
    <i class='mdi mdi-link-variant'></i> <span></span>
  </a>
  <div class='modal-student'>
    <iframe></iframe>
  </div>
</div>
