.flipping-card {
  position: relative;
  display: block;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: inherit;
  }

  h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
  }
}

.flipping-card-back, .flipping-card-front {
  transition: 0.4s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipping-card-back  {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #212121;
  transform: rotateY(-180deg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipping-card:hover .flipping-card-back {
  transform: rotateY(0);
}

.flipping-card:hover .flipping-card-front {
  transform: rotateY(180deg);
}

.flipping-card-items {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flipping-card-item {
  background: rgba(255, 255, 255, 0.15);
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.29);
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border-color .2s ease;

  &:hover, &:focus {
    color: rgba(255, 255, 255, 0.29);
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }
}
