.modal-student-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;

  &.is-active {
    display: flex;
  }
}

.modal-student {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  height: 100%;
  border-left: 1px solid #f0efef;

  &-cross {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #151515;
    border: 2px solid black;
    cursor: pointer;
    opacity: .2;

    @media (max-width: 1000px) {
      width: 50px;
      height: 50px;
      font-size: 23px;
      background: #D23333;
      border: 2px solid #D23333;
      margin-left: 0;
      color: white;
      opacity: 1;
      border-radius: 0 20em 20em 0;
    }

    &:hover {
      opacity: .4;
    }
  }

  iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
}

.modal-student-arrows {
  position: fixed;
  margin: 20px;
  margin-top: 55px;
  @media (max-width: 1000px) {
    display: none
  }
}

.modal-student-arrow:hover {
  .modal-student-arrow-img {
    opacity: 1;
  }
  color: transparent;
}

.modal-student-arrow:hover i {
  display: none;
}

.modal-student-arrow {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CCCCCC;
  border: 2px solid #CCCCCC;
  cursor: pointer;
  margin-top: 10px;
  font-size: 22px;
  position: relative;

  &.is-disabled {
    cursor: default;
    opacity: .1;
    color: black;
    border-color: black;

    span {
      display: none !important;
    }

    &:hover i {
      display: block !important;
    }

    &:hover {
      border-color: black !important;
      opacity: .1 !important;
    }
  }

  &:hover {
    color: black;
    text-decoration: none;
    border-color: transparent;
  }

  &-img {
    opacity: 0;
    transition: .3s ease opacity;
    position: absolute;
    z-index: 9;
    left: 0;
    transform: scale(1.1);
    right: 0;
    bottom: 0;
    border-radius: 50%;
    top: 0;
    background-size: cover !important;
  }
}

.modal-student-url {
  position: absolute;
  bottom: 0;
  margin: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #151515;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 23px;
  opacity: .2;
  font-size: 18px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.07);
  span {
    display: none;
    font-size: 12px;
    margin-left: 5px;
    font-size: 14px;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 1000px) {
    background: white;
    opacity: 1;
    border-radius: 0;
    margin: 0;
    left: 0;
    right: 0;
    color: #5F5F5F;
    width: auto;
    border: 0;

    span {
      display: block;
    }

    &:hover {
      opacity: 1;
    }

  }

  &:hover {
    text-decoration: none;
    color: black;
    opacity: .4;
  }
}

.tooltip-inner {
  padding: 8px 11px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.75);
}

.modal-student-avatar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 20px;
  margin-bottom: 65px;
  background-size: cover !important;
}
