<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Le Wagon Amsterdam - BSSA</h1>

      <h2>Batches</h2>

      <div class="thumbnail">
        <%= link_to image_tag('batches/batch-20.jpg'), '/batches/20.html' %>
        <div class="caption">
          <%= link_to 'Batch 20 - january/march 2016', '/batches/20.html' %>
        </div>
      </div>
    </div>
  </div>
</div>
