<div class='modal-student-container'>
  <div class='modal-student-cross'><i class='mdi mdi-close'></i></div>
  <div>
    <div class='modal-student-arrows'>
      <a class='modal-student-arrow is-prev'>
        <i class='mdi-chevron-left mdi'></i>
      </a>
      <a class='modal-student-arrow is-next'>
        <i class='mdi-chevron-right mdi'></i>
      </a>
    </div>
  </div>
  <div class='modal-student'>
    <iframe></iframe>
  </div>
</div>
